<div id="title">
  <h1>{{ title }}</h1>
  <h2>{{ subtitle }}</h2>
  <p>{{ email }}</p>
</div>

<article class="about">
  <h2>Sobre mí</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam omnis
    consectetur nihil sequi architecto. Quo distinctio saepe voluptas sunt
    veniam adipisci praesentium enim, dolor iste repellendus sequi fuga modi
    facere! Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit saepe
    aliquam ut id hic doloremque tempora minima? Distinctio quibusdam dolorem,
    corrupti hic commodi quasi, ab rem beatae veniam, consequuntur quaerat!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam suscipit eum
    ullam incidunt? Repellendus incidunt alias nostrum corrupti dolorum laborum
    repellat ex quae. Laboriosam officia optio labore? Nemo, vitae doloremque!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam cum ducimus
    dolorum sit nihil, placeat, labore esse ratione assumenda earum dolor
    nostrum doloremque doloribus deleniti ad, iste delectus minima. Est?
  </p>

  
</article>
